// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//collor-pallet
$egyptian-blue: #043263;
$peacock-blue: #01AFD1;
$dodger-blue: #239EFE;
$blue-daze: #DBE5FF;
$malibu-blue: #7DBAFB;
