<div class="footer">
  <p class="footer-text text-muted">2022 SiTripio©, Made with ♡ by Aris, Whalton, Bassem & Yauheni</p>
<div class="social-media">
  <i class="fab fa-instagram footer-text text-muted"></i>
  <i class="fab fa-youtube footer-text text-muted"></i>
  <i class="fab fa-twitter footer-text text-muted"></i>
</div>
</div>
