<div class="footer">
  <p class="footer-text text-muted">2022 SiTripio©, Made with ♡ by Aris, Whalton, Bassem & Yauheni</p>
</div>
<div class="social-media">
  <i class="fa-brands fa-instagram footer-text text-muted"></i>
  <i class="fa-brands fa-youtube footer-text text-muted"></i>
  <i class="fa-brands fa-twitter footer-text text-muted"></i>
</div>
