<h1></h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1493225255756-d9584f8606e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
  <div class="container">
    <h1>Not sure where to go? <strong>Perfect!</strong></h1>
    <p>Join one of our camps and get your skills to the next level</p>
  </div>
</div>


<div class="main">
  <ul class="cards">
    <li class="cards_item">
      <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1621209729356-2929f206ea1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1774&q=80" />
    <div class="card-trip-infos">
      <div>
        <h2>Awesome surf camp in Baleal, Portugal</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam totam dignissimos obcaecati quo porro nam odit ea voluptate sit nemo, quidem praesentium assumenda architecto odio? Libero debitis optio excepturi reiciendis.
        </p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
    </li>
    <li class="cards_item">
      <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1609870025624-98b62826e80a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" />
    <div class="card-trip-infos">
      <div>
        <h2>Awesome surf camp in Baleal, Portugal</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam totam dignissimos obcaecati quo porro nam odit ea voluptate sit nemo, quidem praesentium assumenda architecto odio? Libero debitis optio excepturi reiciendis.
        </p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
    </li>
    <li class="cards_item">
      <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1621209729356-2929f206ea1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1774&q=80" />
    <div class="card-trip-infos">
      <div>
        <h2>Awesome surf camp in Baleal, Portugal</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam totam dignissimos obcaecati quo porro nam odit ea voluptate sit nemo, quidem praesentium assumenda architecto odio? Libero debitis optio excepturi reiciendis.
        </p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
    </li>
    <li class="cards_item">
      <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1621209729356-2929f206ea1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1774&q=80" />
    <div class="card-trip-infos">
      <div>
        <h2>Awesome surf camp in Baleal, Portugal</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam totam dignissimos obcaecati quo porro nam odit ea voluptate sit nemo, quidem praesentium assumenda architecto odio? Libero debitis optio excepturi reiciendis.
        </p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
    </li>
    <li class="cards_item">
      <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1621209729356-2929f206ea1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1774&q=80" />
    <div class="card-trip-infos">
      <div>
        <h2>Awesome surf camp in Baleal, Portugal</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam totam dignissimos obcaecati quo porro nam odit ea voluptate sit nemo, quidem praesentium assumenda architecto odio? Libero debitis optio excepturi reiciendis.
        </p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
    </li>
    </li>
    <li class="cards_item">
      <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1621209729356-2929f206ea1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1774&q=80" />
    <div class="card-trip-infos">
      <div>
        <h2>Awesome surf camp in Baleal, Portugal</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam totam dignissimos obcaecati quo porro nam odit ea voluptate sit nemo, quidem praesentium assumenda architecto odio? Libero debitis optio excepturi reiciendis.
        </p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
    </li>
  </ul>
</div>

<h3 class="made_by">Made with ♡</h3>
