
<div class="main">
  <div class="container">
    <div class="container-media-gallery">
      <div class="media-gallery-left">
        <img src="https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" />
      </div>
      <div class="media-gallery-right">
        <img src="https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" />
      </div>
    </div>

   <div class="info-panel">
   <div class="left-info-panel">
      <h2>Offer.title Lorem ipsum dolor sit amet consectetur</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, pariatur saepe reiciendis quis in tempora consectetur ullam reprehenderit. Eum, velit facilis. Amet assumenda voluptatem reprehenderit ipsum esse hic ipsam enim? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam repellendus porro reprehenderit. Sint cupiditate distinctio, ipsa voluptates, unde fuga officia exercitationem officiis, dolore consequatur omnis! Quo facere temporibus laborum in?</p>
    </div>
    <div class="right-info-panel">
      <div>
        <h2>Meet the organizer</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
        <div class="details">
          <h2>Price</h2>
          <h3>10800</h3>
        </div>
    </div>
   </div>

    <div class="map">
      <h2>Location</h2>
    </div>
  </div>
</div>


<h3 class="made_by">Made with ♡</h3>
