.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  background-color: #cacaca49;
  text-decoration: none
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: var(--c3po-green);
  transition: background 0.3s ease;
  text-align: center;
  text-decoration: none;
}

.btn-flat a{
  color: white;
}

.btn-flat a:hover{
  color: var(--c3po-light-white);
  text-decoration: none;
}

.btn-flat:hover {
  background: var(--c3po-green-hover);
  color: white;
  text-decoration: none;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.simple_form .btn-smpl-form {
  display: block;
  margin: 20px auto 0;
  margin-bottom: 16px;
  // width: 150px;
  // height: 40px;
  border-radius: 0.5rem;
  border: none;
  color: #ffffff;
  background: var(--c3po-green);
  font-weight: bold;
}

.simple_form .btn-smpl-form:hover {
  background: var(--c3po-green);
}

.btn-delete{
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(var(--c3po-green), var(--c3po-green-hover));
  transition: background 0.3s ease;
  border: none;
  position: absolute;
  top: 25%;
  left: 30%;
  max-height: 50%;
  overflow: hidden;
}

.hide {
  display: block;
}

.trip-image:hover + .hide {
  display: block;
}
