.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.cards a:link {
  text-decoration: none !important;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  background-color: white;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  // flex-direction: column;
  overflow: hidden;
}

.cards_item {
  display: grid;
  margin: 16px;
}

// @media (min-width: 40rem) {
//   .cards_item {
//     width: 50%;
//   }
// }

// @media (min-width: 56rem) {
//   .cards_item {
//     width: 33.3333%;
//   }
// }


.card-trip {
  border-radius: 0.5rem;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px var(--c3po-light-grey);
  text-decoration: none;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: var(--c3po-grey);
}

.card-trip h2:hover {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: grey;
}


.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: var(--c3po-grey);
}

#card-location {
  margin-top: 8px;
}

.card-trip .card-trip-infos {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  width: 100%;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// ------------------------------------- //

/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
