#map {
  width: auto;
  height: 240px;
}

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 15px;

}

.mapboxgl-popup-content p {
  text-align: center;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
